apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-server
spec:
  replicas: 1
  template:
    spec:
      securityContext:
        runAsUser: 8737
      containers:
        - name: argo-server
          image: quay.io/argoprojlabs/argocli:latest
          imagePullPolicy: Always
          args: [ server, --namespaced=true, --auth-mode=server, --secure=false ]
          readinessProbe:
            httpGet:
              scheme: HTTP
