apiVersion: v1
data:
  nats.conf: |
    pid_file: "/var/run/nats/nats.pid"
    http: 8222
    authorization {
      token: "testingtokentestingtoken"
    }
kind: ConfigMap
metadata:
  name: nats-config
  namespace: argo-dataflow-system
---
apiVersion: v1
data:
  stan.conf: |
    port: 4222
    http: 8222
    authorization {
      token: "testingtokentestingtoken"
    }

    streaming {
     ns: "nats://nats:4222"
     id: stan
     store: file
     dir: /data/stan/store
    }
kind: ConfigMap
metadata:
  name: stan-config
  namespace: argo-dataflow-system
---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    dataflow.argoproj.io/description: |
      This is an example of providing a namespace named NATS Streaming configuration.

      The secret must be named `dataflow-nats-${name}`.

      [Learn about configuration](../docs/CONFIGURATION.md)
  name: dataflow-stan-default
  namespace: argo-dataflow-system
stringData:
  authToken: testingtokentestingtoken
  clusterId: stan
  maxInflight: "15"
  natsMonitoringUrl: http://stan:8222
  natsUrl: nats
  subjectPrefix: NamespacedPipelineName
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: nats
  name: nats
  namespace: argo-dataflow-system
spec:
  clusterIP: None
  ports:
  - name: client
    port: 4222
  - name: cluster
    port: 6222
  - name: monitor
    port: 8222
  - name: metrics
    port: 7777
  - name: leafnodes
    port: 7422
  - name: gateways
    port: 7522
  selector:
    app: nats
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: stan
  name: stan
  namespace: argo-dataflow-system
spec:
  clusterIP: None
  ports:
  - name: metrics
    port: 7777
  - name: monitor
    port: 8222
  selector:
    app: stan
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: nats
  name: nats
  namespace: argo-dataflow-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nats
  serviceName: nats
  template:
    metadata:
      labels:
        app: nats
    spec:
      containers:
      - command:
        - nats-server
        - --config
        - /etc/nats-config/nats.conf
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: CLUSTER_ADVERTISE
          value: $(POD_NAME).nats.$(POD_NAMESPACE).svc
        image: nats:2.1.7-alpine3.11
        lifecycle:
          preStop:
            exec:
              command:
              - /bin/sh
              - -c
              - /nats-server -sl=ldm=/var/run/nats/nats.pid && /bin/sleep 60
        livenessProbe:
          httpGet:
            path: /
            port: 8222
          initialDelaySeconds: 10
          timeoutSeconds: 5
        name: nats
        ports:
        - containerPort: 4222
          hostPort: 0
          name: client
        - containerPort: 7422
          hostPort: 0
          name: leafnodes
        - containerPort: 6222
          name: cluster
        - containerPort: 8222
          name: monitor
        - containerPort: 7777
          name: metrics
        readinessProbe:
          httpGet:
            path: /
            port: 8222
          initialDelaySeconds: 10
          timeoutSeconds: 5
        volumeMounts:
        - mountPath: /etc/nats-config
          name: config-volume
        - mountPath: /var/run/nats
          name: pid
      shareProcessNamespace: true
      terminationGracePeriodSeconds: 60
      volumes:
      - configMap:
          name: nats-config
        name: config-volume
      - emptyDir: {}
        name: pid
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: stan
  name: stan
  namespace: argo-dataflow-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stan
  serviceName: stan
  template:
    metadata:
      labels:
        app: stan
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - stan
            topologyKey: kubernetes.io/hostname
      containers:
      - args:
        - -sc
        - /etc/stan-config/stan.conf
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: nats-streaming:0.16.2
        livenessProbe:
          httpGet:
            path: /
            port: 8222
          initialDelaySeconds: 10
          timeoutSeconds: 5
        name: stan
        ports:
        - containerPort: 8222
          name: monitor
        - containerPort: 7777
          name: metrics
        volumeMounts:
        - mountPath: /etc/stan-config
          name: config-volume
        - mountPath: /data/stan
          name: stan-sts-vol
      initContainers:
      - args:
        - -fvN
        - nats:8222
        command:
        - curl
        image: golang:1.16
        imagePullPolicy: IfNotPresent
        name: wait
      volumes:
      - configMap:
          name: stan-config
        name: config-volume
  volumeClaimTemplates:
  - metadata:
      name: stan-sts-vol
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 1Gi
      volumeMode: Filesystem
